// begin check-in-block 
section.check-in-block
	h2.section-header Записаться
	p.check-in-block__descr
		| Укажите желаемую дату и время, и мы свяжемся с вами для подтверждения брони
	form.check-in-block__form(action="" method="post")
		input.check-in-block__field(type="date" name="date-field" placeholder="Дата")
		input.check-in-block__field(type="time" name="time-field" placeholder="Время")
		input.check-in-block__field(type="text" name="name-field" placeholder="Ваше имя")
		input.check-in-block__field(type="tel" name="tel-field" placeholder="Телефон")
		input.check-in-block__field(type="submit" placeholder="Отправить")
// end check-in-block 