// begin feature-block 
section.feature-block
	section.feature-block__item
		h3.feature-block-header Быстро
		p.feature-block-descripion.
			Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладатель стильной стрижки-минутки!
	section.feature-block__item
		h3.feature-block-header Круто
		p.feature-block-descripion.
			Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино!
	section.feature-block__item
		h3.feature-block-header Дорого
		p.feature-block-descripion.
			Наши мастера — профессионалы своего дела и не могут стоить дешево. К тому же, разве цена не дает определенный статус?
// end feature-block 