// begin header-menu
block header-menu
	nav.m-header-menu
		ul.m-header-menu__list
			li.m-header-menu__item
				a.m-header-menu__link(href="") Главная
			li.m-header-menu__item
				a.m-header-menu__link(href="") Информация
			li.m-header-menu__item
				a.m-header-menu__link(href="") Новости
			li.m-header-menu__item
				a.m-header-menu__link(href="") Прайс-лист
			li.m-header-menu__item
				a.m-header-menu__link(href="") Магазин
			li.m-header-menu__item
				a.m-header-menu__link(href="") Контакты
// end header-menu 