// begin news-block 
section.news-block
	h2.section-header Новости
	ul.news-block__list
		li.news-block__item
			p.news-block__descr
				| Нам наконец завезли ягермайстер! Теперь вы можете пропустить стаканчик во время стрижки
			time.news-block__time(datetime="2013-09-25") 25 сентября
		li.news-block__item
			p.news-block__descr
				| В нашеей команде пополнение, Борис "Бритва" Стригунец, обладатель множества титулов и наград,пополнил наши стройные ряды
			time.news-block__time(datetime="2013-09-19") 19 сентября
	a.news-block__to-all(href="") Все новости
// end news-block 