layersWidth = 940px

body
	font-family "PT Sans Narrow", sans-serif
	color white
	font-size 14px
	line-height 24px
	font-weight 700
	text-transform uppercase
	background black url("../img/background.jpg") no-repeat center top
	min-width 960px
	
// begin s-main-header
.s-m-header
	color white
	background-color black

.s-m-header:after
	display block
	clear both
	content ""
	
.lay-m-header
	margin 0 auto
	width layersWidth

.m-header-menu
	float left

.m-header-menu__list
	padding-left (151px - 21px)

.m-header-menu__item
	display inline-block
	box-sizing border-box
	margin-right 42px
	padding 29px 21px
	height 64px
	
	font-size 16px
	line-height 42.33px

.m-header-menu__link
	display block
	position relative
	
	width 100%
	height 100%
	color white
	text-decoration none
	
.m-header-menu__link::after
	display block
	position absolute
	height 4px
	background-color white
	
.user-block
	float right
// end s-main-header

// begin s-main-content
.s-m-content
	color black
	background-color #fefbf8

.lay-m-content
	margin 0 auto
	width layersWidth
// end s-main-content

// begin s-main-footer
.s-m-footer
	background-color #202020

.lay-m-footer
	margin 0 auto
	width layersWidth
// end s-main-footer